version: "3.9"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: react_nginx_prod
    ports:
      - "8080:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    restart: unless-stopped
